body {
  font-family: Open Sans, Arial, Helvetica Neue, sans-serif;
  width: 31%;
  margin: auto;
  text-align: center;
  text-align: left;
}

h1 {
  text-align: center;
}

img {
  display: block;
  margin: auto;
}

#duoMonkeyEditor-wrapper {
  max-width: 325px;
  padding: 10px;
  text-align: center;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
